<!DOCTYPE html>
<html ng-app="toDoApp" lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="controllers/ToDoController.js"></script>
    <script type="text/javascript" src="factories/ToDoFactory.js"></script>
    <title>Todos App</title>
  </head>

  <body>
    <div id="todos" ng-controller="ToDoController as controller">
      <p ng-repeat="todo in controller.todos">
        {{ todo.text }}: {{ todo.completed ? "completed" : "not completed" }}
        <span class="complete" ng-click="todo.complete()">Complete</span>
      </p>
      <input type="text" ng-model="toDoText" id="addToDo">
      <button ng-click="controller.addToDo(toDoText)" id="add">Add a ToDo</button>
      <button ng-click="controller.deleteToDo()" id="delete">Delete last ToDo</button>
    </div>
  </body>

</html>
